<div>
  <div  *ngIf="user.role === 'doctor'" class="mb-8">
    <h1 class="text-xl font-semibold text-blue-800">
      Add Blood Sugar Measurement
    </h1>
    <div class="flex items-center gap-x-5 mt-3">
      <div class="w-80 h-28">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Enter Blood Sugar Rate
        </p>
        <input
          required
          [ngModel]="rate"
          (ngModelChange)="handleRate($event)"
          type="text"
          [ngStyle]="{ outline: 'none', 'box-shadow': 'none' }"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 text-blue-800 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ rateError ? 'Blood Sugar Rate required!' : '' }}
        </p>
      </div>
      <div class="w-80 h-28">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Enter Description
        </p>
        <input
          required
          [ngModel]="desc"
          (ngModelChange)="handleDesc($event)"
          type="text"
          class="w-full font-semibold bg-white outline-none px-4 h-10 text-blue-800 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ descError ? 'Description is required!' : '' }}
        </p>
      </div>
      <button
        (click)="handleAddParam()"
        class="rounded-lg h-10 w-40 shadow-md -mt-3 text-white bg-blue-800 hover:bg-blue-900 text-sm duration-300 whitespace-nowrap"
      >
        Add Measurement
      </button>
    </div>
  </div>
  <div class="mb-8">
    <h1 class="text-xl font-semibold text-blue-800">
      List of all Blood Sugar Measurements
    </h1>
  </div>
  <div
    *ngIf="!paramsData || paramsData.length === 0"
    class="flex justify-center mt-8"
  >
    <p class="text-black text-lg">No any measurement added here yet!</p>
  </div>
  <div
    class="overflow-x-auto relative mt-8"
    *ngIf="paramsData && paramsData.length > 0"
  >
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">
            ID
          </th>
          <th scope="col" class="py-3 px-6">
            Blood Sugar Rate
          </th>
          <th scope="col" class="py-3 px-6">
            Description
          </th>
          <th scope="col" class="py-3 px-6">
            Doctor
          </th>
          <th scope="col" class="py-3 px-6">
            Patient
          </th>
          <th scope="col" class="py-3 px-6">
            Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of paramsData"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <td class="py-4 px-6">
            {{ data._id }}
          </td>
          <td class="py-4 px-6">{{ data.rate }}mmgh</td>
          <td class="py-4 px-6">
            {{ data.desc }}
          </td>
          <td class="py-4 px-6">
            {{ data.doctor.name }} ({{ data.doctor.specialization }})
          </td>
          <td class="py-4 px-6">
            {{ data.patient.name }}
          </td>
          <td class="py-4 px-6">
            {{ moment(data.created_at).format('ll') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-14" *ngIf="chartData && chartData.length > 0">
  <apx-chart
    [series]="chartOptions && chartOptions.series"
    [chart]="chartOptions && chartOptions.chart"
    [xaxis]="chartOptions && chartOptions.xaxis"
    [dataLabels]="chartOptions && chartOptions.dataLabels"
    [grid]="chartOptions && chartOptions.grid"
    [stroke]="chartOptions && chartOptions.stroke"
    [title]="chartOptions && chartOptions.title"
  ></apx-chart>
</div>
