<diV class="grid grid-cols-12 gap-y-8 md:gap-y-0 md:gap-x-8">
    <div class="col-span-12 md:col-span-6 shadow-md bg-white rounded-lg h-40 px-5 py-5 flex flex-col gap-y-4 justify-center items-center">
        <p class="font-semibold text-black text-xl text-center">Total Doctors</p>
        <p class="font-bold text-blue-800 text-center text-3xl">{{doctorsData.length}} {{doctorsData.length > 10 ? '+' : ''}}</p>
    </div>
    <div class="col-span-12 md:col-span-6 shadow-md bg-white rounded-lg h-40 px-5 py-5 flex flex-col gap-y-4 justify-center items-center">
        <p class="font-semibold text-black text-xl text-center">Total Patients</p>
        <p class="font-bold text-blue-800 text-center text-3xl">{{patientsData.length }} {{patientsData.length > 10 ? '+' : ''}}</p>
    </div>
</diV>