<diV class="grid grid-cols-12 gap-y-8 md:gap-y-0 md:gap-x-8">
    <div class="col-span-12 md:col-span-6 lg:col-span-3 shadow-md bg-white rounded-lg h-40 px-5 py-5 flex flex-col gap-y-4 justify-center items-center">
        <p class="font-semibold text-black text-xl text-center">My Total Blood Pressures Entries</p>
        <p class="font-bold text-blue-800 text-center text-3xl">{{bpData.length}} {{bpData.length > 10 ? '+' : ''}}</p>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3 shadow-md bg-white rounded-lg h-40 px-5 py-5 flex flex-col gap-y-4 justify-center items-center">
        <p class="font-semibold text-black text-xl text-center">My Total Blood Sugar Entries</p>
        <p class="font-bold text-blue-800 text-center text-3xl">{{bsData.length }} {{bsData.length > 10 ? '+' : ''}}</p>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3 shadow-md bg-white rounded-lg h-40 px-5 py-5 flex flex-col gap-y-4 justify-center items-center">
        <p class="font-semibold text-black text-xl text-center">My Total Heart Rate Entries</p>
        <p class="font-bold text-blue-800 text-center text-3xl">{{hrData.length}} {{hrData.length > 10 ? '+' : ''}}</p>
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3 shadow-md bg-white rounded-lg h-40 px-5 py-5 flex flex-col gap-y-4 justify-center items-center">
        <p class="font-semibold text-black text-xl text-center">My Total Medical Notes</p>
        <p class="font-bold text-blue-800 text-center text-3xl">{{notesData.length }} {{notesData.length > 10 ? '+' : ''}}</p>
    </div>
</diV>