<div class="">
  <!-- Page content goes here  -->

  <div class="mb-8 flex justify-between flex-wrap sm:flex-nowrap">
    <h1 class="text-2xl font-semibold text-black">List of My Patients</h1>
    <button
      *ngIf="user.role === 'doctor'"
      (click)="openModal(mymodal)"
      class="rounded-lg h-10 px-5 shadow-md text-white bg-blue-800 hover:bg-blue-900 text-base duration-300"
    >
      Add Patient
    </button>
  </div>
  <div
    *ngIf="!patientsData || patientsData.length === 0"
    class="flex justify-center mt-8"
  >
    <p class="text-black text-lg">No any patient added here yet!</p>
  </div>
  <div
    class="overflow-x-auto relative mt-8"
    *ngIf="patientsData && patientsData.length > 0"
  >
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="py-3 px-6">
            Created_at
          </th>
          <th scope="col" class="py-3 px-6">
            Name
          </th>
          <th scope="col" class="py-3 px-6">
            Phone
          </th>
          <th scope="col" class="py-3 px-6">
            Gender
          </th>
          <th scope="col" class="py-3 px-6">
            Age
          </th>
          <th scope="col" class="py-3 px-6">
            Height
          </th>
          <th scope="col" class="py-3 px-6">
            Weight
          </th>
          <th scope="col" class="py-3 px-6">
            Doctor
          </th>
          <th scope="col" class="py-3 px-6">
            Updated_at
          </th>
          <th scope="col" class="py-3 px-6">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of patientsData"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <td class="py-4 px-6">
            {{ moment(data.created_at).format('ll') }}
          </td>
          <td class="py-4 px-6">
            {{ data.name }}
          </td>
          <td class="py-4 px-6">
            {{ data.phone }}
          </td>
          <td class="py-4 px-6">
            {{ data.gender }}
          </td>
          <td class="py-4 px-6">
            {{ data.age }}
          </td>
          <td class="py-4 px-6">
            {{ data.height }}
          </td>
          <td class="py-4 px-6">
            {{ data.weight }}
          </td>
          <td class="py-4 px-6">
            {{ data.doctor.name }} ({{ data.doctor.specialization }})
          </td>
          <td class="py-4 px-6">
            {{ moment(data.updated_at).format('ll') }}
          </td>
          <td class="py-4 px-6">
            <button (click)="goToDetailPage(data._id)" class="underline text-blue-800">details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Patient Modal  -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add a Patient</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body w-full">
    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 grid grid-cols-12 gap-3">
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Name
        </p>
        <input
          required
          [ngModel]="name"
          (ngModelChange)="handleName($event)"
          type="text"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ nameError ? 'Name required!' : '' }}
        </p>
      </div>
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Email
        </p>
        <input
          required
          [ngModel]="email"
          (ngModelChange)="handleEmail($event)"
          type="email"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ emailError ? 'Incorrect email format!' : '' }}
        </p>
      </div>

      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Password
        </p>
        <input
          required
          [ngModel]="password"
          (ngModelChange)="handlePassword($event)"
          type="password"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ passError ? 'Password too short!' : '' }}
        </p>
      </div>
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Age
        </p>
        <input
          required
          [ngModel]="age"
          (ngModelChange)="handleAge($event)"
          type="number"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ ageError ? 'age required!' : '' }}
        </p>
      </div>
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Height
        </p>
        <input
          required
          [ngModel]="height"
          (ngModelChange)="handleHeight($event)"
          placeholder="Height in cm"
          type="number"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ heightError ? 'height required!' : '' }}
        </p>
      </div>
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Weight
        </p>
        <input
          required
          placeholder="Weight in kg"
          [ngModel]="weight"
          (ngModelChange)="handleWeight($event)"
          type="number"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ weightError ? 'weight required!' : '' }}
        </p>
      </div>
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Phone
        </p>
        <input
          required
          [ngModel]="ph"
          (ngModelChange)="handlePh($event)"
          type="text"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        />
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ phError ? 'Phone number required!' : '' }}
        </p>
      </div>
      <div class="bg-white col-span-6">
        <p
          class="mb-1 text-black bg-white"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          Gender
        </p>
        <select
          [ngModel]="gender"
          (ngModelChange)="handleGender($event)"
          type="text"
          class="w-full font-semibold bg-white outline-none px-4 h-10 border border-zinc-400 rounded-lg"
        >
          <option>Male</option>
          <option>Female</option>
        </select>
        <p
          class="bg-white text-red-500 text-xs mt-2"
          [ngStyle]="{ 'font-weight': '500' }"
        >
          {{ genderError ? 'Gender required!' : '' }}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="px-4 h-10 rounded-lg shadow-md hover:shadow-xl duration-300 text-white bg-blue-800 hover:bg-blue-900"
      (click)="handleSubmit()"
    >
      Add Patient
    </button>
  </div>
</ng-template>
